@model FullProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Full Profile";
}
<div class="row">
    <div class="col-xl-12 order-xl-1">
        <div class="card card-profile shadow ct-example">
            <!--Header de la carta-->
            <!-- Classic tabs -->
            <div class="classic-tabs mx-2">
                <ul class="nav tabs-orange" id="myClassicTabOrange" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
                           role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                            <i class="fas fa-user fa-2x pb-2"
                               aria-hidden="true"></i><br>Profile
                        </a>
                    </li>
                    @if (Model.Id > 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange"
                               role="tab" aria-controls="follow-classic-orange" aria-selected="false" onclick="getPhoneList(@Model.Id)">
                                <i class="fas fa-heart fa-2x pb-2"
                                   aria-hidden="true"></i><br>Follow
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange"
                               role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                                <i class="fas fa-envelope fa-2x pb-2"
                                   aria-hidden="true"></i><br>Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" id="awesome-tab-classic-orange" data-toggle="tab" href="#awesome-classic-orange"
                               role="tab" aria-controls="awesome-classic-orange" aria-selected="false">
                                <i class="fas fa-star fa-2x pb-2"
                                   aria-hidden="true"></i><br>Be awesome
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!--END Header de la carta-->
            <div class="card-body pt-0 pt-md-4">
                <div class="tab-content card" id="myClassicTabContentOrange">
                    <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
                        <form method="post" asp-action="FullProfile" asp-controller="Home">

                            @if (!string.IsNullOrWhiteSpace(TempData["StatusMessage"] as string))
                            {

                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    @TempData["StatusMessage"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            }
                            <textarea asp-for="Objetiv" class="form-control" id="" rows="3" placeholder="Descripcion Brebe de metas y objetivos"></textarea>
                            <hr class="my-4" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">ID Unico</label>
                                        <input asp-for="Id" hidden id="ProfileID" />
                                        <input asp-for="ApplicationUserId" type="text" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nombres</label>
                                        <input asp-for="Name"
                                               type="text" placeholder="Nombres" class="form-control" />
                                        <span asp-validation-for="Name" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Apellidos</label>
                                        <input asp-for="LastName" class="form-control"
                                               type="text" placeholder="Apellido" />
                                        <span asp-validation-for="LastName" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Fecha de Nacimiento</label>
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input asp-for="DateOfBirth"
                                                   class="form-control datepicker" placeholder="Select date" type="text">
                                            <span asp-validation-for="DateOfBirth" class="invalid-feedback" style="display: block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Genero</label>
                                        <select class="form-control" asp-for="GenderId" asp-items="ViewBag.Genero">
                                            <option value="">Seleccione</option>
                                        </select>
                                        <span asp-validation-for="GenderId" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nacionalidad</label>
                                        <select class="form-control" asp-for="NationalityId" asp-items="ViewBag.Nacionalidad">
                                            <option value="">Seleccione</option>
                                        </select>
                                        <span asp-validation-for="NationalityId" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Estado Civil</label>
                                        <select class="form-control" asp-for="MatiralStatusId" asp-items="ViewBag.EstadoCivil">
                                            <option value="">Seleccione</option>
                                        </select>
                                        <span asp-validation-for="MatiralStatusId" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Maximo Nivel Educativo</label>
                                        <select class="form-control" asp-for="EducativeTitleId" asp-items="ViewBag.NivelEducativo">
                                            <option value="">Seleccione</option>
                                        </select>
                                        <span asp-validation-for="EducativeTitleId" class="invalid-feedback" style="display: block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <button class="btn btn-success mt-4 mb-4" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    @if (Model.Id > 0)
                    {
                        <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
                            <!-- Editable table -->
                            <br />
                            <div id="msg">

                            </div>
                            <form>
                                <div class="card">
                                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">TELEFONOS</h3>
                                    <div class="card-body">
                                        <div id="table" class="table-editable">
                                            <table id="PhoneTable" class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Numero</th>
                                                        <th class="text-center">Acciones</th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input id="description" type="text" /></td>
                                                        <td>
                                                            <span>
                                                                <a id="insert" href="#!" class="text-success" onclick="onAddPhone(this)">
                                                                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                                                                </a>
                                                                @*<input class="fas fa-plus fa-2x" type="button" id="insert" onclick='onAddPhone(this)' />*@
                                                            </span>
                                                        </td>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Editable table -->
                            <!-- Editable table -->
                            <div class="card">
                                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">CORREOS ELECTRONICOS</h3>
                                <div class="card-body">
                                    <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Dominio</th>
                                                    <th class="text-center">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ProfileEmails)
                                                {
                                                    <tr>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.Id)</td>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.Description)</td>
                                                        <td>
                                                            <span class="table-remove">
                                                                <button type="button"
                                                                        class="btn btn-danger btn-rounded btn-sm my-0">
                                                                    Remover
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Editable table -->
                        </div>
                        <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
                            <!-- Editable table -->
                            <div class="card">
                                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">VEHICULOS</h3>
                                <div class="card-body">
                                    <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Tipo</th>
                                                    <th class="text-center">Matricula</th>
                                                    <th class="text-center">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ProfileVehicles)
                                                {
                                                    <tr>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.Id)</td>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.VehicleType.Description)</td>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.Matricula)</td>
                                                        <td>
                                                            <span class="table-remove">
                                                                <button type="button"
                                                                        class="btn btn-success btn-rounded btn-sm my-0">
                                                                    Guardar
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Editable table -->
                            <!-- Editable table -->
                            <div class="card">
                                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">DOCUMENTOS DE IDENTIDAD</h3>
                                <div class="card-body">
                                    <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">TIPO</th>
                                                    <th class="text-center">NUMERO</th>
                                                    <th class="text-center">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ProfileDocTypes)
                                                {
                                                    <tr>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.DocTypeID)</td>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.DocType.Description)</td>
                                                        <td class="pt-3-half" contenteditable="true">@Html.DisplayFor(modelItem => item.NumberDocument)</td>
                                                        <td>
                                                            <span class="table-remove">
                                                                <button type="button"
                                                                        class="btn btn-danger btn-rounded btn-sm my-0">
                                                                    Remover
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Editable table -->
                        </div>
                        <div class="tab-pane fade" id="awesome-classic-orange" role="tabpanel" aria-labelledby="awesome-tab-classic-orange">

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
